<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-3xl">
    <div class="px-4 sm:px-6 lg:px-8 text-gray-300">
      <div class="mt-8 bg-gray-800 rounded-t-lg p-4"> <!-- Adjusted rounded-t-lg class for top rounded corners -->
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="grid grid-cols-2 gap-4">
            <div class="max-w-full">
              <app-team-info [id]="1"></app-team-info>
            </div>
            <div class="max-w-full">
              <app-team-info [id]="2"></app-team-info>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
